slides > slide.backdrop {
  background: #2874A6;
}
p{
  color: #232b2b;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
{
  color: #232b2b;
}

li{
  color: #232b2b;
}

slides > slide.title-slide p {
  color: #232b2b;
}

slides > slide.title-slide hgroup h1 {
      color:#0e1111;
}

a{
	color: #b2b2b2;
	border-bottom-color: #b2b2b2;
	
}

a:hover {
    color: #000;
    border-bottom: 2px solid #000;
}

slides > slide:not(.nobackground):after {
  color: #b2b2b2;
}